@inject IPreferenceService PreferenceService

<aside class="w-64 flex flex-col justify-between border-r border-border bg-secondary p-4">
    <div class="flex flex-col gap-8">
        <div class="flex items-center gap-3 px-2">
            <div
                class="aspect-square rounded-full size-10 border-2 border-primary grid place-items-center bg-primary text-primary-foreground font-bold text-lg">
                @PreferenceService.GetPreference(UserPreferences.Username)[0]
            </div>
            <h1 class="text-sm font-bold text-foreground">
                @PreferenceService.GetPreference(UserPreferences.Username)
            </h1>
        </div>

        <nav class="flex flex-col gap-2">
            <a href="@SiteRoutes.Journal"
                class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-muted-foreground hover:bg-card hover:text-foreground transition-all">
                <i class="fi fi-rr-book-bookmark"></i>
                <p class="text-sm font-medium">Journals</p>
            </a>

            <a href="@SiteRoutes.Calendar"
                class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-muted-foreground hover:bg-card hover:text-foreground transition-all">
                <i class="fi fi-rr-calendar-day"></i>
                <p class="text-sm font-medium">Calendar</p>
            </a>

            <a href="@SiteRoutes.Analytics"
                class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-muted-foreground hover:bg-card hover:text-foreground transition-all">
                <i class="fi fi-rr-chart-histogram"></i>
                <p class="text-sm font-medium">Analytics</p>
            </a>

            <a href="@SiteRoutes.Settings"
                class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-muted-foreground hover:bg-card hover:text-foreground transition-all">
                <i class="fi fi-rr-settings-sliders"></i>
                <p class="text-sm font-medium">Settings</p>
            </a>
        </nav>
    </div>
    <div class="flex gap-2 items-center">


        <a href="@SiteRoutes.AddJournal" class="w-full block flex-1">
            <AppButton ClassName="w-full">
                <i class="fi fi-rr-add-document"></i>
                <span>New Entry</span>
            </AppButton>
        </a>
    </div>
</aside>