@using JournalSystem.Models
@inject IJSRuntime JS

<div class="popup-backdrop" @onclick="CloseIfBackdrop">
    <div class="popup-shell" @onclick:stopPropagation="true">
        <div class="editor-card">
            <div class="editor-head">
                <div>
                    <input class="title-input"
                           placeholder="Journal Title"
                           @bind="entry.Title"
                           @bind:event="oninput" />

                    <div class="date-text">@entry.EntryDate.ToString("yyyy/MM/dd")</div>
                </div>

                <select class="border-1 p-2" @bind="entry.PrimaryMood">
                    @foreach (var mood in Enum.GetValues<MoodCategory>())
                    {
                        <option value="@mood">@mood</option>
                    }
                </select>
            </div>

            <div id="editor" style="height: 12rem;"></div>

            <div>
                <select class="border-1 p-2" @bind="selectedTag">
                    <option value="">select</option>
                    @foreach (JournalTag tag in Enum.GetValues<JournalTag>())
                    {
                        <option value="@tag">@tag</option>
                    }
                </select>

                <MudButton OnClick="handleAddTag" Variant="Variant.Outlined" Color="Color.Primary">
                    +
                </MudButton>
            </div>

            <div class="d-flex gap-1 flex-wrap">
                @foreach (var i in entry.Tags)
                {
                    <span @onclick="() => HandleRemoveTag(i)" class="p-1 bg-primary text-white rounded tag-chip">
                        @i
                    </span>
                }
            </div>

            <div class="actions">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           OnClick="Submit">
                    Add
                </MudButton>

                <MudButton Variant="Variant.Outlined"
                           OnClick="OnClose">
                    Cancel
                </MudButton>

            </div>
        </div>
    </div>
</div>

<style>
    .tag-chip:hover {
        background-color: #f00;
    }
</style>


@code {
    [Parameter] public List<JournalEntry> Entries { get; set; } = default!;
    [Parameter] public EventCallback OnClose { get; set; }
    JournalTag? selectedTag;

    JournalEntry entry = new()
    {
        EntryDate = DateTime.Today,
        PrimaryMood = MoodCategory.Neutral
    };

    void Submit()
    {
        Entries.Add(entry);
        OnClose.InvokeAsync();
    }

    void handleAddTag()
    {
        if (selectedTag is null) return;

        if (!entry.Tags.Contains(selectedTag.Value)) 
            entry.Tags.Add(selectedTag.Value);

        selectedTag = null;
    }

    void HandleRemoveTag(JournalTag tag)
    {
        entry.Tags.Remove(tag);
    }


    void CloseIfBackdrop() => OnClose.InvokeAsync();

    private string HtmlContent = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initQuill", "editor");
        }
    }

    private async Task Save()
    {
		HtmlContent = await JS.InvokeAsync<string>("getQuillHtml");
    }

}
