@page "/journal"
@using JournalSystem.Models
@using JournalSystem.Components.Forms
@using Bogus;

<MudContainer Class="mt-8">
    <div class="d-flex justify-space-between align-center mb-4">
        <MudText Typo="Typo.h5">Journals</MudText>

        <div class="d-flex align-items-center gap-2">
            <input type="text" placeholder="Search..." @bind="search" @bind:event="oninput" style="padding:6px 10px; border:1px solid #000; border-radius:4px;" />

            @if (!hasCreatedJournalToday)
            {
                <MudButton Variant="Variant.Outlined" OnClick="() => showForm = true">
                    Add Journal
                </MudButton>
            }

        </div>  
    </div>


    @if (!FilteredEntries.Any())
    {
        <div>
            @if (string.IsNullOrWhiteSpace(search))
            {
                <MudText>No journal entries yet.</MudText>
            }
            else
            {
                <p>Nothing matches your search.</p>
            }
        </div>
    }
    else
    {
        <MudGrid>
            @foreach (var item in PaginatedEntries)
            {
                <MudItem xs="6" sm="3">
                    <MudPaper Elevation="1" Class="pa-4 mb-3 rounded-lg">
                        <MudText Typo="Typo.subtitle1">@item.Title</MudText>
                        <MudText Typo="Typo.caption">
                            @item.EntryDate.ToString("yyyy-MM-dd") · @item.PrimaryMood
                        </MudText>

                        <MudText Class="mt-2 text-truncate">
                            @item.Content
                        </MudText>

                        @if (item.Tags.Any())
                        {
                            <div class="d-flex gap-1 flex-wrap">
                                @foreach (var i in item.Tags)
                                {
                                    <span class="p-1 bg-primary text-white rounded">
                                        @i
                                    </span>
                                }
                            </div>
                        }

                        <MudButton Variant="Variant.Text" Color="Color.Error" Class="mt-2" OnClick="@(() => Delete(item))">
                            Delete
                        </MudButton>
                    </MudPaper>
                </MudItem>
            }

        </MudGrid>

        <div class="d-flex align-items-center gap-2 mt-4">
            <MudButton Variant="Variant.Outlined" Disabled="@(currPage  <= 1)" OnClick="PrevPage">
                Prev
            </MudButton>
            <MudButton Variant="Variant.Outlined" Disabled="@(currPage >= TotalPages)" OnClick="NextPage">
                Next
            </MudButton>


            <span>Page @currPage / @TotalPages</span>

        </div>

        
            @if (hasCreatedJournalToday)
            {
                <p>You have already added a journal today.</p>
            }

    }
</MudContainer>

@if (showForm)
{
    <AddJournalform Entries="entries" OnClose="CloseForm" />
}


@code {
    List<JournalEntry> entries = new();

    int currPage = 1;
    int perPage = 8;
    int TotalPages => Math.Max(1, (int)Math.Ceiling(FilteredEntries.Count() / (double)perPage));

    IEnumerable<JournalEntry> FilteredEntries => string.IsNullOrWhiteSpace(search)
        ? entries
        : entries.Where(e => e.Title.Contains(search, StringComparison.OrdinalIgnoreCase));

    IEnumerable<JournalEntry> PaginatedEntries =>
        FilteredEntries
            .OrderByDescending(e => e.EntryDate)
            .Skip((currPage - 1) * perPage)
            .Take(perPage);

    void Delete(JournalEntry item)
    {
        entries.Remove(item);
    }

	bool hasCreatedJournalToday => entries.Any(e => e.EntryDate.Date == DateTime.Now.Date);
 
    // search
    string search = string.Empty;

    // forms handling
    bool showForm;
    void CloseForm() => showForm = false;


    //  pagination

    void NextPage()
    {
        if (currPage < TotalPages) currPage++;
    }

    void PrevPage()
    {
        if (currPage > 1) currPage--;
    }


    // fake data
    protected override void OnInitialized()
    {
        var faker = new Faker<JournalEntry>()
            .RuleFor(e => e.Id, f => Guid.NewGuid())
            .RuleFor(e => e.EntryDate, f => f.Date.Recent(30).Date)
            .RuleFor(e => e.Title, f => f.Lorem.Sentence(3))
            .RuleFor(e => e.Content, f => f.Lorem.Paragraphs(2))
            .RuleFor(e => e.PrimaryMood, f => f.PickRandom<MoodCategory>())
            .RuleFor(e => e.CreatedAt, f => DateTime.UtcNow)
            .RuleFor(e => e.UpdatedAt, f => DateTime.UtcNow);

        entries = faker.Generate(10);
    }
}
