@page "/analytics"
@inject IAnalyticsService AnalyticsService

<div class="space-y-6">
    <h1 class="text-4xl font-bold mb-6">
        Analytics
    </h1>

    @if (isLoading)
    {
        <span>Loading...</span>
    }
    else
    {
        <div class="grid grid-cols-3 gap-y-6 gap-x-4">
            @if (streakData.LongestCount > 0)
            {
                <AnalyticsCard Title="Longest Streak" Value="@streakData.LongestCount.ToString()" Icon="fi fi-rr-flame"
                    Subtext="@($"{streakData.LongestStart:MMM dd, yyyy} to {streakData.LongestEnd:MMM dd, yyyy}")" />
            }

            @if (streakData.CurrentCount > 0)
            {
                <AnalyticsCard Title="Current Streak" Value="@streakData.CurrentCount.ToString()"
                    Icon="fi fi-rr-fire-flame-curved" Subtext="@($"{streakData.CurrentStart:MMM dd, yyyy} to today")" />
            }

            @if (topTags.Any())
            {
                <AnalyticsCard Title="Top Tag" Value="@topTags[0].Tag.Name" Icon="fi fi-rr-tags"
                    Subtext="@($"Used {@topTags[0].Count.ToString()} times.")" />
            }

            @if (categoryBreakdown.Any())
            {
                <AnalyticsCard Title="Top Category" Value="@categoryBreakdown[0].CategoryName" Icon="fi fi-rr-bookmark"
                    Subtext="@($"Used {categoryBreakdown[0].Count.ToString()} times - {Math.Clamp(categoryBreakdown[0].Percentage, 0, 100):0.##}%")" />
            }

            @if (topWords.Any())
            {
                <AnalyticsCard Title="Top Word" Value="@topWords[0].Name" Icon="fi fi-rr-text"
                    Subtext="@($"Used {topWords[0].WordCount} times.")" />
            }

            <AnalyticsCard Title="Missed Days" Value="@streakData.MissedDays.Count.ToString()" Icon="fi fi-rr-house-day"
                Subtext="Number of days missed." />
        </div>

        <div class="grid grid-cols-6 gap-8">

            <div class="col-span-2">
                <h2 class="text-2xl font-semibold mb-2">Mood Distribution</h2>
                <MoodDistributionChart Distribution="moodDistributionResult" />
            </div>

            <div class="col-span-4">
                <h2 class="text-2xl font-semibold mb-2">Top Tags</h2>
                <TopTagsChart Tags="topTags" />
            </div>

            <div class="col-span-4 max-h-96">
                <h2 class="text-2xl font-semibold mb-2">Percentage of Journal Per Category</h2>
                <CategoryBreakdownChart CategoryBreakdown="categoryBreakdown" />
            </div>

            <div class="col-span-2 max-h-96">
                <h2 class="text-2xl font-semibold mb-2">Most Used Words</h2>
                <TopWordsChart Words="topWords" />
            </div>

        </div>
    }
</div>

@code {
    bool isLoading = true;

    MoodDistributionResult moodDistributionResult = new();
    List<TopTagsResult> topTags = [];
    List<CategoryBreakdownResult> categoryBreakdown = [];
    StreakSummary streakData = new();
    List<WordCountResult> topWords = [];

    protected override async Task OnInitializedAsync()
    {
        moodDistributionResult = await AnalyticsService.GetMoodDistributionStats();
        topTags = await AnalyticsService.GetTopUsedTags();
        categoryBreakdown = await AnalyticsService.GetCategoryBreakdown();
        streakData = await AnalyticsService.GetStreaksAsync();
        topWords = await AnalyticsService.GetTopWordsAsync(10);
        isLoading = false;
    }
}